#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition-property: opacity,
    transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  overflow: hidden;
}

.page-transition {
  opacity: 0;
  /* transform: scale(1.3); */
  background: black;
  filter: blur(50px);
}

#nprogress .bar {
  background: #007bff !important; /* Blue color */
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #007bff, 0 0 5px #007bff !important;
}

#nprogress .spinner-icon {
  display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}